/* ======= CONFIGURACIÓN GENERAL ======= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #0c0c0c, #1a1a1a);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* ======= MENÚ SUPERIOR ======= */
#menu {
  background-color: rgba(0, 0, 0, 0.932);
}

.nav-link {
  color: rgb(233, 136, 9);
  transition: 0.3s;
}

.nav-link:hover {
  color: rgb(81, 9, 250);
  text-decoration: underline;
}

/* ======= CONTENEDORES ======= */
.contenedor2, .contenedor3, .contenedor4, .contenedor5 {
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  margin: 40px auto;
  padding: 30px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.contenedor2 h1,
.contenedor3 h2,
.contenedor4 h2,
.contenedor5 h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
  color: #c73e08;
  margin-bottom: 20px;
}

/* ======= PDF y VIDEO ======= */
iframe {
  border: 2px solid rgba(233, 136, 9, 0.8);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* ======= PIE DE PÁGINA ======= */
footer {
  margin-top: 40px;
}

.pie {
  height: 110px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.932);
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.pie img {
  height: 70%;
  width: auto;
}

.hijo {
  color: grey;
  font-size: 15px;
  text-align: center;
}

.hijos a {
  text-decoration: none;
  color: grey;
  margin: 5px;
  font-size: 15px;
}

.hijos a:hover {
  color: rgb(233, 136, 9);
}

.hijos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px; /* espacio entre elementos internos */
  padding: 10px;
}
/* ======= MATRICES ======= */
.contenedor6 ul {
  list-style: none;
  padding: 0;
}

.contenedor6 li {
  margin: 10px 0;
  font-size: 18px;
}

.contenedor6 a {
  color: #c73e08;
  font-weight: bold;
  text-decoration: none;
}

.contenedor6 a:hover {
  text-decoration: underline;
  color: rgb(81, 9, 250);
}
